/*Dark Theme: link-color WCAG-compliant*/
body.theme-default .status__content a, body.theme-default .status__content a.unhandled-link {
  color: #6bc1ff!important;
}
/*Light Theme: link-color WCAG-compliant*/
body.theme-mastodon-light .status__content a, body.theme-mastodon-light .status__content a.unhandled-link {
  color: #005c8a!important;
}
/*red line for media without alt-text*/
.audio-player__canvas:not([title]),
.audio-player__canvas[title=""],
.media-gallery__gifv video:not([title]),
.media-gallery__gifv video[title=""],
.media-gallery__item-thumbnail img:not([alt]),
.media-gallery__item-thumbnail img[alt=""],
.video-player video:not([title]),
.video-player video[title=""] {
      border-bottom: 4px solid #ff4253;
        box-sizing: border-box;
}